// Apply airbnb rules for formatting codes
{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.build.json"
  },
  "env": {
    "node": true
  },
  "rules": {
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"]
  },
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ]
}
